/* General */
body {
    background-image: url(../images/gray_jean.png);
    font-family: monda, tahoma;
    margin: 0;
}

a, text.link {
    color: #5A5A9E;
    cursor: pointer;
    fill: #5A5A9E;
    text-decoration: none;
}
a:hover, text.link:hover {
    cursor: pointer;
    text-decoration: underline;
}

li {
    padding-top: 5px;
}

img {
    border: none;
}

h2 {
    color: #444;
    font-family: 'Donegal One', tahoma;
    font-size: 1.5em;
    margin-top: 20px;
}

div#browser-warning {
    background-color: #FEEFB3;
    background-image: url('../images/warning.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    border: 1px solid;
    color: #9F6000;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
}

div#container {
    background: transparent;
    margin: 0 auto;
    width: 1000px;
}

.popup-close {
    text-align: center;
}
.popup-close-link, .popup-close-link-exp {
    cursor: pointer;
    font-size: 20px;
    text-decoration: underline;
}
/**/

/* Header */
div#header {
    color: #444;
    height: 180px;
    font-family: 'Denk One';
    font-size: 100px;
    padding-top: 10px;
    text-align: right;
}
div.title {
    color: #5A5A9E;
    font-size: 25px;
}
/**/

/* Picture */
div#picture {
    float: right;
    height: 200px;
    margin-top: 15px;
    width: 267px;
}
div#picture img {
    margin-top: 20px;
}
div#picture canvas {
}
/**/

/* About */
div#about {
    color: #444;
    float: left;
    padding: 0 5px 5px 0;
    width: 700px;
}
/**/

/* Portfolio */
div#portfolio {
    margin-top: 20px;
}
div#portfolio-images {
    padding: 10px 0 0 40px;
}
div#portfolio img {
    border: 3px solid #444;
    cursor: pointer;
    height: 85px;
}
#image-popup {
    color: white;
    text-align: center;
}
/**/

/* Resume Vis */
.popup-text {
    background-image: url(../images/low_contrast_linen.png);
    color: #ddd;
    display: none;
    padding: 10px;
    width: 800px;
}

div#vis {
    
    padding-top: 10px;
}
div#vis svg {
    font-size: 1.2em;
    margin-left: 75px;
}
.node circle {
    fill: #fff;
    stroke-width: 1.5px;
}
.node circle.leaf {
    cursor: default;
    fill: white !important;
    stroke: #ccc !important;
}
.node text {
    cursor: default;
}
.node text.popup {
    fill: green;
    cursor: pointer;
    text-decoration: underline;
}
path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
/**/