body {
    background: url(bg.png);
    font-family: Raleway, tahoma;
}

.container {
    width: 1200px;
    height: 700px;
    margin: 0 auto;
    position: relative;
}
.container h1, h4 {
    position: absolute;
}
.container h4 {
    top: 50px;
}

svg {
    padding: 20px;
    width: 100%;
    height: 100%;
}

svg .axis-segment {
    fill: none;
    stroke: black;
    stroke-width: 1px;
}

svg .axis-label {
    font-weight: bold;
}
svg .axis-label-background {
    fill: white;
    fill-opacity: 0.7;
}

svg .axis-background {

}

svg .arc-outer, svg .arc-middle, svg .arc-inner {
    stroke: white;
    stroke-width: 4px;
}
svg .arc-outer {
    cursor: help;
}
svg .arc-middle {
    fill: white;
}
svg .arc-tick-line {
    stroke-dasharray: 5 5;
    stroke-width: 2px;
}
svg .arc-tick-line-end {
    fill: white;
    stroke-width: 2px;
}

.company-text-container {
    position: relative;
}

.container .history-description {
    margin: 0 auto;
    position: absolute;
}
.container .history-description .history-company {
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.container .history-description .history-role {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}
.container .history-summary {
    font-size: 16px;
    line-height: 22px;
}

.opentip-container {
    font-family: Raleway, tahoma;
    max-width: 520px;
}
.opentip-container .ot-content {
    font-size: 16px;
    line-height: 22px;
}