body {
    background: url(bg.png);
    font-family: tahoma;
}

.container {
    width: 1200px;
    height: 700px;
    margin: 0 auto;
}

svg {
    padding: 20px;
    width: 100%;
    height: 100%;
}

svg .axis-segment {
    fill: none;
    stroke: black;
    stroke-width: 1px;
}

svg .axis-spacer {
    fill: white;
    stroke: none;
}

svg .axis-label {
    font-weight: bold;
}
svg .axis-label-background {
    fill: white;
    fill-opacity: 0.7;
}

svg .axis-background {

}

svg .arc-outer, svg .arc-middle, svg .arc-inner {
    stroke: white;
    stroke-width: 4px;
}
svg .arc-middle {
    fill: white;
}

.container .history-description {
    margin: 0 auto;
    position: absolute;
}
.container .history-description .history-company {
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 5px;
    text-decoration: underline;
}
.container .history-description .history-role {
    font-weight: bold;
}