body {
  background-color: white;
  font-family: 'Lora', sans-serif;
  margin: 5% 15% 5% 15%;
}

hr {
  border: 1px dotted #A7A9AB;
  border-style: none none dotted; 
}

.header-details .name {
  color: #1149AF;
  display: inline-block;
  font-size: 1.4em;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.header-details .contact-information, .links-container {
  color: #606162;
  display: inline-block;
  font-size: .8em;
  letter-spacing: 1px;
  line-height: .9em;
  text-transform: uppercase;
}

.header-details .contact-information p {
  color: #58585B;
  display: inline-block;
  margin-bottom: 2%;
  margin-top: 0.2em;
  text-decoration: none;
}

.links {
  color: #58585B;
  display: inline-block;
  text-decoration: none;
}
  .links:hover {
    color: #1149AF;
  }

.links img {
  margin-bottom: -.2em;
  padding-right: .3em;
  padding-left: .3em;
}

.primary-titles {
  color: #1149AF;
  display: inline-block;
  margin-bottom: -1%;
  text-decoration: none;
}
.primary-titles a {
  color: #1149AF;
  font-size: 1em;
  letter-spacing: 1px;
  text-decoration: none;
}

.category-headers {
  color: #1149AF;
  font-size: .9em;
  letter-spacing: 2px;
  margin-top: 3em;
  margin-bottom: .1em;
  text-transform: uppercase;
}

.category-details {
  color: #606162;
  font-size: .9em;
  line-height: 1.4em;
  margin-bottom: 1%;
  margin-left: 2%;
  margin-top: .5em;
  /*margin-top: -1%;*/
}

.category-description {
  color: #606162;
  font-size: .9em;
  line-height: 1.4em;
  margin-bottom: 1%;
  margin-left: 2%;
  margin-right: 7%;
  margin-top: 1em;
}
