div.content {
    margin: 50px;
}
div.content h3 {
    text-align: center;
}

/* Visualisation */
.axis-label {
    position: absolute;
}
svg {
    background-color: #fdfdfd;
    border-top: 2px solid black;
    margin-left: 140px;
}

svg text {
    alignment-baseline: middle;
}

svg text.label {
    font-weight: bold;
}

svg g.x-axis line {
    stroke: black;
}

svg line.speech-indicator {
    stroke: black;
    stroke-dasharray: 5 5;
}

svg g.stream text {
    fill: white;
    font-weight: bold;
    text-anchor: middle;
}
svg.video-composition g.speech-segment {
    cursor: pointer;
}
svg g.stream > rect, svg g.speech-segment > rect.full-interaction, svg g.eyes > rect {
    stroke: black;
    stroke-width: 2px;
}
svg g.speech-segment rect.full-interaction {
    fill: white;
}
svg g.stream rect, svg g.speech-segment rect {
    fill-opacity: 0.85;
}
svg g.stream:hover rect, svg g.speech-segment:hover rect {
    fill-opacity: 1;
}
/* Eye movement data */
svg g.eye-segment rect.eye-grid {
    fill: none;
    stroke: black;
    stroke-width: 1;
}
svg g.eye-segment line.eye-grid {
    stroke: black;
    stroke-width: 0.5;
}
svg g.eye-segment path.eye-vector {
    stroke: black;
    stroke-width: 2;
}
svg g.eye-segment circle.eye-marker {
    fill: black;
    stroke: black;
}
svg g.eye-segment circle.eye-marker:hover {
    fill: #FFCC33;
    stroke: #FF9900;
    r: 3px;
}

svg rect.select-area {
    stroke: black;
    stroke-width: 2;
    fill: blue;
    fill-opacity: 0.2;
}

.qual-0 { fill:rgb(63,99,11) } 
.qual-1 { fill:rgb(31,120,180) } 
.qual-2 { fill:rgb(228,157,19) } 
.qual-3 { fill:rgb(147,41,84) } 
.qual-4 { fill:rgb(251,154,153) } 
.qual-5 { fill:rgb(175,52,12) } 
.qual-6 { fill:rgb(253,191,111) } 
.qual-7 { fill:rgb(255,127,0) }
.qual-8 { fill:rgb(202,178,214) }
.qual-9 { fill:rgb(230,244,203) }


/* Video output */
#progress-container {
    width: 600px;
}
#progress-container .outerDiv {
    margin: 20px 0;
}


/* Dialogs */
.smoke {
    font-family: inherit;
}
.dialog.smoke {
    word-wrap: break-word;
}